<div class="inside_left">
  <% if current_user %>
    <p>Welcome to CatHub!</p>
    <h3>Cats in Da Hub</h3>
    <% unless @users.nil? %>
     <ul>
     <% @users.each do |user| %>
       <% if current_user %>
         <% unless user == current_user %>
           <% unless current_user.relations.include?(user) || current_user.inverse_relations.include?(user)  %>
                 <li>
                   <%= image_tag user.image.url(:thumb) %>
                   <strong><%= user.petname %></strong>
                   <%= link_to "Add Friend", relationships_path(relation_id: user), method: :post %>
                 </li>
                 <% end %>
               <% end %>
         <% end %>
       <% end %>
     </ul>
   <% end %>
   <% else %>
   <p>Welcome to CatHub!</p>
   <p>Sign Up or Sign In.<p>
 <% end %>
</div>
